mixin addressDropGroup(label)
  if (label)
    | 地址: 
  .btn-group(dropdown='dropdown', is-open="select.dropdown.campus")
    button.btn.btn-info.btn-sm(dropdown-toggle="", style="min-width:90px;")
      span.pull-left(ng-show="select.data.campus" , ng-bind="select.data.campus")
      span.pull-left(ng-hide="select.data.campus") 所有校区
      b.caret.pull-right(style="margin-top:8px")
    ul.dropdown-menu(role='menu')
      li
        a(href='javascript:;', ng-click='dropSelect("campus", "")') 所有校区
      li(ng-repeat='(key, value) in addressTree')
        a(href='javascript:;', ng-click='dropSelect("campus", key)', ng-bind="key")

  .btn-group(dropdown='dropdown', is-open="select.dropdown.address", ng-show="select.data.campus")
    button.btn.btn-info.btn-sm(dropdown-toggle="", style="min-width:90px;")
      span.pull-left(ng-show="select.data.address" , ng-bind="select.data.address")
      span.pull-left(ng-hide="select.data.address") 所有地址
      b.caret.pull-right(style="margin-top:8px")
    ul.dropdown-menu(role='menu')
      li
        a(href='javascript:;', ng-click='dropSelect("address", "")') 所有地址
      li(ng-repeat='(key, value) in addressTree[select.data.campus]')
        a(href='javascript:;', ng-click='dropSelect("address", key)', ng-bind="key")

  .btn-group(dropdown='dropdown', is-open="select.dropdown.floor", ng-show="select.data.campus && select.data.address")
    button.btn.btn-info.btn-sm(dropdown-toggle="", style="min-width:90px;")
      span.pull-left(ng-show="select.data.floor" , ng-bind="select.data.floor")
      span.pull-left(ng-hide="select.data.floor") 所有楼层
      b.caret.pull-right(style="margin-top:8px")
    ul.dropdown-menu(role='menu')
      li
        a(href='javascript:;', ng-click='dropSelect("floor", "")') 所有楼层
      li(ng-repeat='(key, value) in addressTree[select.data.campus][select.data.address]')
        a(href='javascript:;', ng-click='dropSelect("floor", key)', ng-bind="key")
  span.mr

mixin dormitoryTypeDrop(label)
  if (label)
    | 类型:
  .btn-group(dropdown='dropdown', is-open="select.dropdown.dormitoryTypeCN")
    button.btn.btn-info.btn-sm(dropdown-toggle="", style="min-width:105px;")
      span.pull-left(ng-show="select.data.dormitoryTypeCN" , ng-bind="select.data.dormitoryTypeCN")
      span.pull-left(ng-hide="select.data.dormitoryTypeCN") 所有类型
      b.caret.pull-right(style="margin-top:8px")
    ul.dropdown-menu(role='menu')
      li
        a(href='javascript:;', ng-click='dropSelect("dormitoryTypeCN", "")') 所有类型
      li
        a(href='javascript:;', ng-click='dropSelect("dormitoryTypeCN", "集体宿舍 - 男")') 集体宿舍 - 男
      li
        a(href='javascript:;', ng-click='dropSelect("dormitoryTypeCN", "集体宿舍 - 女")') 集体宿舍 - 女
      li
        a(href='javascript:;', ng-click='dropSelect("dormitoryTypeCN", "夫妻房")') 夫妻房
  span.mr

mixin campusDrop(label)
  if (label)
    | 校区: 
  .btn-group(dropdown='dropdown', is-open="select.dropdown.campus")
    button.btn.btn-info.btn-sm(dropdown-toggle="", style="min-width:90px;")
      span.pull-left(ng-show="select.data.campus" , ng-bind="select.data.campus")
      span.pull-left(ng-hide="select.data.campus") 所有校区
      b.caret.pull-right(style="margin-top:8px")
    ul.dropdown-menu(role='menu')
      li
        a(href='javascript:;', ng-click='dropSelect("campus", "")') 所有校区
      li(ng-repeat='(key, value) in addressTree')
        a(href='javascript:;', ng-click='dropSelect("campus", key)', ng-bind="key")
  span.mr

mixin departmentDrop(label)
  if (label)
    | 中心:
  .btn-group(dropdown='dropdown', is-open="select.dropdown.department")
    button.btn.btn-info.btn-sm(dropdown-toggle="", style="min-width:90px;")
      span.pull-left(ng-show="select.data.department" , ng-bind="select.data.department")
      span.pull-left(ng-hide="select.data.department") 所有中心
      b.caret.pull-right(style="margin-top:8px")
    ul.dropdown-menu(role='menu')
      li
        a(href='javascript:;', ng-click='dropSelect("department", "")') 所有中心
      li(ng-repeat='department in departments')
        a(href='javascript:;', ng-click='dropSelect("department", department)', ng-bind="department")
  span.mr

mixin genderDrop(label)
  if (label)
    | 性别:
  .btn-group(dropdown='dropdown', is-open="select.dropdown.genderCN")
    button.btn.btn-info.btn-sm(dropdown-toggle="", style="min-width:90px;")
      span.pull-left(ng-show="select.data.genderCN" , ng-bind="select.data.genderCN")
      span.pull-left(ng-hide="select.data.genderCN") 所有性别
      b.caret.pull-right(style="margin-top:8px")
    ul.dropdown-menu(role='menu')
      li
        a(href='javascript:;', ng-click='dropSelect("genderCN", "")') 所有性别
      li
        a(href='javascript:;', ng-click='dropSelect("genderCN", "男")') 男
      li
        a(href='javascript:;', ng-click='dropSelect("genderCN", "女")') 女
      li
        a(href='javascript:;', ng-click='dropSelect("genderCN", "其他")') 其他
  span.mr

mixin feeDateDropGroup(label)
  if (label)
    | 时间:
  .btn-group(dropdown='dropdown', is-open="select.dropdown.year")
    button.btn.btn-default.btn-xs(dropdown-toggle="", style="min-width:80px;")
      span.pull-left(ng-show="select.data.year") {{ select.data.year }} 年
      span.pull-left(ng-hide="select.data.year") 选择年份
      b.caret.pull-right(style="margin-top:8px")
    ul.dropdown-menu(role='menu')
      li(ng-repeat="(key, value) in dateTree")
        a(href='javascript:;', ng-click='dropSelect("year", key)') {{key}}
  .btn-group(dropdown='dropdown', is-open="select.dropdown.month")
      button.btn.btn-default.btn-xs(dropdown-toggle="", style="min-width:75px;")
        span.pull-left(ng-show="select.data.month") {{ select.data.month }} 月
        span.pull-left(ng-hide="select.data.month") 选择月份
        b.caret.pull-right(style="margin-top:8px")
      ul.dropdown-menu(role='menu')
        li(ng-repeat="month in dateTree[selectedYear]")
          a(href='javascript:;', ng-click='dropSelect("month", month)') {{month}}

mixin feeDepartmentDrop(label)
  if (label)
    | 中心:
  .btn-group(dropdown='dropdown', is-open="select.dropdown.department")
    button.btn.btn-default.btn-xs(dropdown-toggle="", style="min-width:75px;")
      span.pull-left(ng-show="select.data.department" , ng-bind="select.data.department")
      span.pull-left(ng-hide="select.data.department") 选择中心
      b.caret.pull-right(style="margin-top:8px")
    ul.dropdown-menu(role='menu')
      li(ng-repeat='department in departments')
        a(href='javascript:;', ng-click='dropSelect("department", department)', ng-bind="department")

mixin statusDrop(label)
  if (label)
    | 状态:
  .btn-group(dropdown='dropdown', is-open="select.dropdown.statusCN")
    button.btn.btn-info.btn-sm(dropdown-toggle="", style="min-width:90px;")
      span.pull-left(ng-show="select.data.statusCN" , ng-bind="select.data.statusCN")
      span.pull-left(ng-hide="select.data.statusCN") 所有状态
      b.caret.pull-right(style="margin-top:8px")
    ul.dropdown-menu(role='menu')
      li
        a(href='javascript:;', ng-click='dropSelect("statusCN", "")') 所有状态
      li
        a(href='javascript:;', ng-click='dropSelect("statusCN", "已拒绝")') 已拒绝
      li
        a(href='javascript:;', ng-click='dropSelect("statusCN", "待审核")') 待审核
      li
        a(href='javascript:;', ng-click='dropSelect("statusCN", "已分配")') 已分配
    span.mr

mixin typeDrop(label)
  if (label)
    | 申请类型:
  .btn-group(dropdown='dropdown', is-open="select.dropdown.typeCN")
    button.btn.btn-info.btn-sm(dropdown-toggle="", style="min-width:105px;")
      span.pull-left(ng-show="select.data.typeCN" , ng-bind="select.data.typeCN")
      span.pull-left(ng-hide="select.data.typeCN") 所有类型
      b.caret.pull-right(style="margin-top:8px")
    ul.dropdown-menu(role='menu')
      li
        a(href='#', ng-click='dropSelect("typeCN", "")') 所有类型
      li
        a(href='#', ng-click='dropSelect("typeCN", "集体宿舍 - 男")') 集体宿舍 - 男
      li
        a(href='#', ng-click='dropSelect("typeCN", "集体宿舍 - 女")') 集体宿舍 - 女
      li
        a(href='#', ng-click='dropSelect("typeCN", "夫妻房")') 夫妻房
  span.mr

mixin dateDropGroup(label)
  if (label)
    | 时间:
  .btn-group(dropdown='dropdown', is-open="select.dropdown.year")
    button.btn.btn-info.btn-sm(dropdown-toggle="", style="min-width:90px;")
      span.pull-left(ng-show="select.data.year") {{ select.data.year }} 年
      span.pull-left(ng-hide="select.data.year") 选择年份
      b.caret.pull-right(style="margin-top:8px")
    ul.dropdown-menu(role='menu')
      li(ng-repeat="(key, value) in dateTree")
        a(href='javascript:;', ng-click='dropSelect("year", key)') {{key}}
  .btn-group(dropdown='dropdown', is-open="select.dropdown.month")
      button.btn.btn-default.btn-sm(dropdown-toggle="", style="min-width:90px;")
        span.pull-left(ng-show="select.data.month") {{ select.data.month }} 月
        span.pull-left(ng-hide="select.data.month") 选择月份
        b.caret.pull-right(style="margin-top:8px")
      ul.dropdown-menu(role='menu')
        li(ng-repeat="month in dateTree[selectedYear]")
          a(href='javascript:;', ng-click='dropSelect("month", month)') {{month}}
  span.mr

mixin maintenanceStatusDrop(label)
  if (label)
    | 状态:
  .btn-group(dropdown='dropdown', is-open="select.dropdown.statusCN")
    button.btn.btn-info.btn-sm(dropdown-toggle="", style="min-width:90px;")
      span.pull-left(ng-show="select.data.statusCN" , ng-bind="select.data.statusCN")
      span.pull-left(ng-hide="select.data.statusCN") 所有状态
      b.caret.pull-right(style="margin-top:8px")
    ul.dropdown-menu(role='menu')
      li
        a(href='javascript:;', ng-click='dropSelect("statusCN", "")') 所有状态
      li
        a(href='javascript:;', ng-click='dropSelect("statusCN", "待办")') 待办
      li
        a(href='javascript:;', ng-click='dropSelect("statusCN", "已办结")') 已办结
    span.mr