include mixins/dropdown
include mixins/search
include mixins/panel-title


.container-fluid(ng-controller="AccommodationController as table")
  .panel.panel-default
    .panel-heading
      form.pull-right.hidden-xs.form-inline
        +addressDropGroup(true)
        +typeDrop(true)
        +searchField()
      +panelTitle('入住信息列表')
    
    table.table(ng-table='table.tableParams')
      tbody
        tr(ng-repeat='accommodationItem in $data')
          td(width="40", header="'ng-table/headers/checkbox.html'")
            .checkbox.c-checkbox
              label
                input(type='checkbox', ng-model="checkboxes.items[accommodationItem.id]")
                span.fa.fa-check
          td(data-title="'员工'", sortable="'employee.name'") 
            .btn.btn-primary.btn-xs(ng-repeat="accommodation in accommodationItem.accommodations", ng-click="showEmployee(accommodation.employee)", style="margin-right:5px;min-width:55px;") {{accommodation.employee.name}}
          td.text-center(data-title="'宿舍地址'", sortable="'dormitory.addressDetailCN'") {{accommodationItem.dormitory.addressDetailCN}}
          td.text-center(data-title="'宿舍类型'", sortable="'dormitory.typeCN'") {{accommodationItem.dormitory.typeCN}}
          td.text-center(data-title="'迁入时间'", sortable="'accommodations[0].checkInDate'") {{accommodationItem.accommodations[0].checkInDate}}
          td.text-center(data-title="'迁出时间'", sortable="'accommodations[0].checkOutDate'", ng-if="accommodationItem.accommodations[0].checkOutDate") {{accommodationItem.accommodations[0].checkOutDate}}
          td.text-center(data-title="'迁出时间'", sortable="'accommodations[0].checkOutDate'", ng-if="!accommodationItem.accommodations[0].checkOutDate") /
          td.text-center(data-title="'当前状态'", sortable="'statusCN'") {{accommodationItem.statusCN}}
          td.text-center(data-title="'操作'", width="70")
            button.btn.btn-danger.btn-xs(title='迁出', data-ng-click='checkout(accommodationItem)')
              span.fa.fa-sign-out
    // 自定义表头checkbox的template
    script(type="text/ng-template", id="ng-table/headers/checkbox.html")
      .checkbox.c-checkbox
        label
          input(type="checkbox", ng-model="checkboxes.checked", id="select_all", name="filter-checkbox", value="")
          span.fa.fa-check