header.topnavbar-wrapper(ng-include="'app/views/partials/top-navbar.html'")

aside.aside(ng-include="'app/views/partials/sidebar.html'", ng-controller="SidebarController")


section
  .content-wrapper(ui-view="", autoscroll="false", ng-class="app.viewAnimation")

footer(ng-include="'app/views/partials/footer.html'")

