.panel.panel-default
  .panel-heading  宿舍申请向导
  .panel-body
    form(form-wizard="", action='/', method='POST', steps="4")
      .form-wizard.wizard-vertical
        // 左侧的向导栏
        ol(style="width:28%")
          li(ng-class="{'active':wizard.active(1)}", ng-click="wizard.go(1)")
            h4.mb0.mt0 1、选择入住员工
            small.text-muted 选择未入住员工或新增员工
          li(ng-class="{'active':wizard.active(2)}", ng-click="wizard.go(2)")
            h4.mb0.mt0 2、关联配偶
            small.text-muted 添加随员工同时迁入的配偶
          li(ng-class="{'active':wizard.active(3)}", ng-click="wizard.go(3)")
            h4.mb0.mt0 3、填写申请信息
            small.text-muted 填写申请的宿舍类型和说明
          li(ng-class="{'active':wizard.active(4)}", ng-click="wizard.go(4)")
            h4.mb0.mt0 4、完成!
            small.text-muted 查看申请提交的结果
        // ============

        // 选择入住员工 
        div(ng-show="wizard.active(1)", style="width:69%")
          .row(style='padding-left:20px;')
            b.pull-left.mr
              | 请选择迁入员工的来源：
            .radio.c-radio.c-radio-nofont.pull-left.mr(style='margin-top: 0;')
              label
                input(type='radio', name='selectEmployeeType', value='new', ng-model='selectEmployeeType')
                span
                |  创建员工
            .radio.c-radio.c-radio-nofont.pull-left.mr(style='margin-top: 0;')
              label
                input(type='radio', name='selectEmployeeType', value='existed', checked='', ng-model='selectEmployeeType')
                span
                |  选择已有员工
          //- 新建员工
          .panel.panel-default(ng-if='selectEmployeeType=="new"', style='min-height: 250px;')
            .panel-body
              table(style="width: 100%;")
                tbody
                  tr(style="text-align: right;", height=50)
                    td(width=80)
                      b.mr 员工姓名
                    td
                      .controls
                        input.form-control(type='text', name='name', placeholder='输入员工姓名...', required, ng-model='applicant.name')
                    td(width=80)
                      b.mr 员工性别
                    td
                      .controls
                        select.form-control(type='text', name='gender', ng-options="gender.code as gender.name for gender in GENDERS", required, ng-model='applicant.gender')
                          option(value="", disabled='',selected='', style='display:none;') 选择员工性别...
                          option(value='MALE') 男
                          option(value='FEMALE') 女
                          option(value='NONE') 其他
                  tr.pt(style="text-align: right;", height=50, ng-model='applicant.idNum')
                    td(width=80)
                      b.mr 身份证号
                    td
                      .controls
                        input.form-control(type='text', name='idNum', placeholder='输入员工身份证号...', required, ng-model='applicant.idNum')
                    td(width=80)
                      b.mr 所属中心
                    td
                      .controls
                        select.form-control(type='text', name='department', ng-options="department as department for department in DEPARTMENTS", ng-model='applicant.department', required)
                          option(value="", disabled='',selected='', style='display:none;') 选择员工所属中心...
                  tr.pt(style="text-align: right;", height=50)
                    td(width=80)
                      b.mr 工作地点
                    td
                      .controls
                        input.form-control(type='text', name='workLocationDetail', placeholder='输入员工工作的具体地点...', required, ng-model='applicant.workLocationDetail')
                    td(width=80)
                      b.mr 入职时间
                    td
                      .controls
                        input.form-control(type='text', name='dutyDate', placeholder='输入员工入职时间...', required, ng-model='applicant.dutyDate')
          //- 选择已有员工
          .panel.panel-default(ng-if='selectEmployeeType=="existed"', style='min-height: 250px;')
            .panel-body
              table(style="width: 100%;")
                tbody
                  tr(style="text-align: right;")
                    td(width=80)
                      b.mr 选择员工
                    td
                      ui-select(ng-model='nonHouseholders.selected', theme='bootstrap')
                        ui-select-match(placeholder='选择迁入的员工...') {{$select.selected.name}}
                        ui-select-choices(repeat='employee in nonHouseholders.employees | propsFilter: {name: $select.search, age: $select.search}')
                          div(ng-bind-html='employee.name | highlight: $select.search')
                          small
                            | 身份证: 
                            span(ng-bind-html="employee.idNum | highlight: $select.search")
                            | 所属中心: 
                            span(ng-bind-html="employee.department | highlight: $select.search")
              hr(style="margin:15px 0")
              table(style="width: 100%;")
                tbody
                  tr(style="text-align: right;", height=50)
                    td(width=80)
                      b.mr 员工姓名
                    td
                      .controls
                        input.form-control(type='text', name='name', placeholder='输入员工姓名...', required, ng-model='applicant.name', disabled='')
                    td(width=80)
                      b.mr 员工性别
                    td
                      .controls
                        select.form-control(type='text', name='gender', ng-options="gender.code as gender.name for gender in GENDERS", required, ng-model='applicant.gender', disabled='')
                          option(value="", disabled='',selected='', style='display:none;') 选择员工性别...
                          option(value='MALE') 男
                          option(value='FEMALE') 女
                          option(value='NONE') 其他
                  tr.pt(style="text-align: right;", height=50, ng-model='applicant.idNum')
                    td(width=80)
                      b.mr 身份证号
                    td
                      .controls
                        input.form-control(type='text', name='idNum', placeholder='输入员工身份证号...', required, ng-model='applicant.idNum', disabled='')
                    td(width=80)
                      b.mr 所属中心
                    td
                      .controls
                        select.form-control(type='text', name='department', ng-options="department as department for department in DEPARTMENTS", ng-model='applicant.department', required, disabled='')
                          option(value="", disabled='',selected='', style='display:none;') 选择员工所属中心...
                  tr.pt(style="text-align: right;", height=50)
                    td(width=80)
                      b.mr 工作地点
                    td
                      .controls
                        input.form-control(type='text', name='workLocationDetail', placeholder='输入员工工作的具体地点...', required, ng-model='applicant.workLocationDetail', disabled='')
                    td(width=80)
                      b.mr 入职时间
                    td
                      .controls
                        input.form-control(type='text', name='dutyDate', placeholder='输入员工入职时间...', required, ng-model='applicant.dutyDate', disabled='')
          ul.pager
            li.next(ng-if='selectEmployeeType=="new"')
              a(href='javascript:;', ng-click="wizard.go(2)")
                | 创建员工并继续
                span &rarr;
            li.next(ng-if='selectEmployeeType=="existed"')
              a(href='javascript:;', ng-click="wizard.go(2)")
                | 选择员工并继续
                span &rarr;

        div(ng-show="wizard.active(2)", style="width:69%")
          .row(style='padding-left:20px;')
            b.pull-left.mr
              | 请选择关联配偶的来源：
            .radio.c-radio.c-radio-nofont.pull-left.mr(style='margin-top: 0;')
              label
                input(type='radio', name='selectSpouseType', value='newInner', ng-model='selectSpouseType')
                span
                |  创建配偶（集团员工）
            .radio.c-radio.c-radio-nofont.pull-left.mr(style='margin-top: 0;')
              label
                input(type='radio', name='selectSpouseType', value='newOuter', ng-model='selectSpouseType')
                span
                |  创建配偶（非集团员工）
            .radio.c-radio.c-radio-nofont.pull-left.mr(style='margin-top: 0;')
              label
                input(type='radio', name='selectSpouseType', value='existed', checked='', ng-model='selectSpouseType')
                span
                |  关联已有员工
          //- 创建配偶（集团员工）
          .panel.panel-default(ng-if='selectSpouseType=="newInner"', style='min-height: 250px;')
            .panel-body
              table(style="width: 100%;")
                tbody
                  tr(style="text-align: right;", height=50)
                    td(width=80)
                      b.mr 员工姓名
                    td
                      .controls
                        input.form-control(type='text', name='name', placeholder='输入配偶姓名...', required, ng-model='applicant.name')
                    td(width=80)
                      b.mr 员工性别
                    td
                      .controls
                        select.form-control(type='text', name='gender', ng-options="gender.code as gender.name for gender in GENDERS", required, ng-model='applicant.gender')
                          option(value="", disabled='',selected='', style='display:none;') 选择配偶性别...
                          option(value='MALE') 男
                          option(value='FEMALE') 女
                          option(value='NONE') 其他
                  tr.pt(style="text-align: right;", height=50, ng-model='applicant.idNum')
                    td(width=80)
                      b.mr 身份证号
                    td
                      .controls
                        input.form-control(type='text', name='idNum', placeholder='输入配偶身份证号...', required, ng-model='applicant.idNum')
                    td(width=80)
                      b.mr 所属中心
                    td
                      .controls
                        select.form-control(type='text', name='department', ng-options="department as department for department in DEPARTMENTS", ng-model='applicant.department', required)
                          option(value="", disabled='',selected='', style='display:none;') 选择配偶所属中心...
                  tr.pt(style="text-align: right;", height=50)
                    td(width=80)
                      b.mr 工作地点
                    td
                      .controls
                        input.form-control(type='text', name='workLocationDetail', placeholder='输入配偶工作的具体地点...', required, ng-model='applicant.workLocationDetail')
                    td(width=80)
                      b.mr 入职时间
                    td
                      .controls
                        input.form-control(type='text', name='dutyDate', placeholder='输入配偶入职时间...', required, ng-model='applicant.dutyDate')
          
          //- 创建配偶（非集团员工）
          .panel.panel-default(ng-if='selectSpouseType=="newOuter"', style='min-height: 250px;')
            .panel-body
              table(style="width: 100%;")
                tbody
                  tr(style="text-align: right;", height=50)
                    td(width=80)
                      b.mr 员工姓名
                    td
                      .controls
                        input.form-control(type='text', name='name', placeholder='输入配偶姓名...', required, ng-model='applicant.name')
                    td(width=80)
                      b.mr 员工性别
                    td
                      .controls
                        select.form-control(type='text', name='gender', ng-options="gender.code as gender.name for gender in GENDERS", required, ng-model='applicant.gender')
                          option(value="", disabled='',selected='', style='display:none;') 选择员工性别...
                          option(value='MALE') 男
                          option(value='FEMALE') 女
                          option(value='NONE') 其他
                  tr.pt(style="text-align: right;", height=50, ng-model='applicant.idNum')
                    td(width=80)
                      b.mr 身份证号
                    td
                      .controls
                        input.form-control(type='text', name='idNum', placeholder='输入配偶身份证号...', required, ng-model='applicant.idNum')
                    td(width=80)
                      b.mr 工作单位
                    td
                      .controls
                        input.form-control(type='text', name='workLocationDetail', placeholder='输入配偶的工作单位...', required, ng-model='applicant.workLocationDetail')

          //- 关联已有员工
          .panel.panel-default(ng-if='selectSpouseType=="existed"', style='min-height: 250px;')
            .panel-body
              table(style="width: 100%;")
                tbody
                  tr(style="text-align: right;")
                    td(width=80)
                      b.mr 选择员工
                    td
                      ui-select(ng-model='nonHouseholders.selected', theme='bootstrap')
                        ui-select-match(placeholder='选择关联为配偶的员工...') {{$select.selected.name}}
                        ui-select-choices(repeat='employee in nonHouseholders.employees | propsFilter: {name: $select.search, age: $select.search}')
                          div(ng-bind-html='employee.name | highlight: $select.search')
                          small
                            | 身份证: 
                            span(ng-bind-html="employee.idNum | highlight: $select.search")
                            | 所属中心: 
                            span(ng-bind-html="employee.department | highlight: $select.search")
              hr(style="margin:15px 0")
              table(style="width: 100%;")
                tbody
                  tr(style="text-align: right;", height=50)
                    td(width=80)
                      b.mr 员工姓名
                    td
                      .controls
                        input.form-control(type='text', name='name', placeholder='输入员工姓名...', required, ng-model='applicant.name', disabled='')
                    td(width=80)
                      b.mr 员工性别
                    td
                      .controls
                        select.form-control(type='text', name='gender', ng-options="gender.code as gender.name for gender in GENDERS", required, ng-model='applicant.gender', disabled='')
                          option(value="", disabled='',selected='', style='display:none;') 选择员工性别...
                          option(value='MALE') 男
                          option(value='FEMALE') 女
                          option(value='NONE') 其他
                  tr.pt(style="text-align: right;", height=50, ng-model='applicant.idNum')
                    td(width=80)
                      b.mr 身份证号
                    td
                      .controls
                        input.form-control(type='text', name='idNum', placeholder='输入员工身份证号...', required, ng-model='applicant.idNum', disabled='')
                    td(width=80)
                      b.mr 所属中心
                    td
                      .controls
                        select.form-control(type='text', name='department', ng-options="department as department for department in DEPARTMENTS", ng-model='applicant.department', required, disabled='')
                          option(value="", disabled='',selected='', style='display:none;') 选择员工所属中心...
                  tr.pt(style="text-align: right;", height=50)
                    td(width=80)
                      b.mr 工作地点
                    td
                      .controls
                        input.form-control(type='text', name='workLocationDetail', placeholder='输入员工工作的具体地点...', required, ng-model='applicant.workLocationDetail', disabled='')
                    td(width=80)
                      b.mr 入职时间
                    td
                      .controls
                        input.form-control(type='text', name='dutyDate', placeholder='输入员工入职时间...', required, ng-model='applicant.dutyDate', disabled='')


          ul.pager
            li.previous
              a(href='javascript:;', ng-click="wizard.go(1)")
                span &larr; 返回员工选择
            li.next(ng-if='selectSpouseType!="existed"')
              a(href='javascript:;', ng-click="wizard.go(3)")
                | 创建配偶并继续
                span &rarr;
            li.next(ng-if='selectSpouseType=="existed"')
              a(href='javascript:;', ng-click="wizard.go(3)")
                | 关联配偶并继续
                span &rarr;
            li.next
              a(href='javascript:;', ng-click="wizard.go(3)")
                | 跳过该步骤

        div(ng-show="wizard.active(3)", style="width:69%")
          .row(style='padding-left:20px;')
            b.pull-left.mr
              | 点击申请人查看详细信息（只包含员工），选择申请的宿舍类型以及申请说明
          .panel.panel-default(style='min-height: 250px;')
            .panel-body
              table(style="width: 100%;")
                tbody
                  tr(style="text-align: right;", height=50)
                    td(width=80)
                      b.mr 申请人
                    td(style='text-align: left;')
                      button.btn.btn-primary.btn-xs(style="margin-right:5px; min-width:55px;") 员工1
                      button.btn.btn-primary.btn-xs(style="margin-right:5px; min-width:55px;") 员工2
                    td(width=80)
                      b.mr 宿舍类型
                    td
                      .controls
                        select.form-control(type='text', name='gender', ng-options="gender.code as gender.name for gender in GENDERS", required, ng-model='applicant.gender')
                          option(value="", disabled='',selected='', style='display:none;') 选择申请宿舍类型...
                          option(value='GROUP_MALE') 集体宿舍 - 男
                          option(value='GROUP_FEMALE') 集体宿舍 - 女
                          option(value='COUPLE') 夫妻房
                  tr.pt(style="text-align: right;", height=50, ng-model='applicant.idNum')
                    td(width=80)
                      b.mr 申请说明
                    td(colspan='3')
                      .controls
                        textarea.form-control(style='width:100%;height: 160px; resize: none;', placeholder='请填写申请说明...')
          ul.pager
            li.previous
              a(href='javascript:;', ng-click="wizard.go(2)")
                span &larr; 返回配偶选择
            li.next
              a(href='javascript:;', ng-click="wizard.go(4)")
                | 提交申请 

        div(ng-show="wizard.active(4)", style="width:69%")
          .jumbotron.m0(style='min-height: 250px;')
            h3.mt0 成功！
            p 您的申请已经发送给相关领导进行审核，请等候回复。
            p.m0
              button.btn.btn-info(type='button') 继续创建新的申请