.container-fluid
  .panel.panel-default
    .panel-heading  宿舍申请向导
    .panel-body
      form(form-wizard="", validate-steps="true", validate-form="", steps="3")
        .form-wizard.wizard-horizontal
          ol.row
            li.col-md-4(ng-class="{'active':wizard.active(1)}")
              h4 1、选择入住员工
              small.text-muted 选择没有入住的员工或增加新的员工
            li.col-md-4(ng-class="{'active':wizard.active(2)}")
              h4 2、添加配偶
              small.text-muted 添加随员工同时迁入的配偶信息
            li.col-md-4(ng-class="{'active':wizard.active(3)}")
              h4 3、填写申请信息
              small.text-muted 填写申请的宿舍类型和申请理由

          div#step1(ng-show="wizard.active(1)")
            legend
              span(style="font-weight:bold;") 选择入住员工
            .row
              .col-md-3
                .col-md-12
                  h4 宿舍申请人来源
                .col-md-12
                  .radio.c-radio.c-radio-nofont
                    label(style="font-size:15px")
                      input(type='radio', name='selectEmployeeType', value='existed', checked='', ng-model='selectEmployeeType')
                      span
                      |  选择已有员工
                .col-md-12
                  .radio.c-radio.c-radio-nofont
                    label(style="font-size:15px")
                      input(type='radio', name='selectEmployeeType', value='new', ng-model='selectEmployeeType')
                      span
                      |  创建员工
              .col-md-9
                .col-md-12
                  .panel.panel-primary(ng-if='selectEmployeeType=="existed"')
                    .panel-heading(ng-class="{'panel-heading-collapsed':panelDemo1}")
                      | 选择已有员工
                    .panel-wrapper
                      .panel-body
                        ui-select(ng-model='uisel.person.selected', theme='bootstrap')
                          ui-select-match(placeholder='选择需要申请宿舍的员工') {{$select.selected.name}}
                          ui-select-choices(repeat='person in uisel.people | propsFilter: {name: $select.search, age: $select.search}')
                            div(ng-bind-html='person.name | highlight: $select.search')
                            small
                              | email: {{person.email}}        age: 
                              span(ng-bind-html="''+person.age | highlight: $select.search")
                  .panel.panel-primary(ng-if='selectEmployeeType=="new"')
                    .panel-heading(ng-class="{'panel-heading-collapsed':panelDemo1}")
                      | 创建新员工
                    .panel-wrapper
                      .panel-body
                        .col-md-4
                          .form-group
                            label 姓名
                            .controls
                              input.form-control(type='text', name='name', placeholder='输入员工姓名...', required)
                        .col-md-4
                          .form-group
                            label 性别
                            .controls
                              input.form-control(type='text', name='gender', placeholder='选择员工性别...', required)
                        .col-md-4
                          .form-group
                            label 身份证号
                            .controls
                              input.form-control(type='text', name='idNum', placeholder='输入员工身份证号...', required)
                        .col-md-4
                          .form-group
                            label 所属中心
                            .controls
                              input.form-control(type='text', name='department', placeholder='选择所属中心...', required)
                        .col-md-4
                          .form-group
                            label 工作地点
                            .controls
                              input.form-control(type='text', name='workLocationDetail', placeholder='输入员工工作的具体地点...', required)
                        .col-md-4
                          .form-group
                            label 入职时间
                            .controls
                              input.form-control(type='text', name='dutyDate', placeholder='输入员工入职时间...', required)
                        .col-md-12
                          button.btn.btn-primary.pull-right 创建员工
                          button.btn.btn-default.pull-right.mr 清空输入

            ul.pager
              li.next
                a(href='#', ng-click="wizard.go(2)")
                  | 下一步
                  span &rarr;

          div#step2(ng-show="wizard.active(2)")
            legend
              span(style="font-weight:bold;") 添加配偶
            .row
              .col-md-3
                .col-md-12
                  h4 配偶来源
                .col-md-12
                  .radio.c-radio.c-radio-nofont
                    label(style="font-size:15px")
                      input(type='radio', name='selectSpouseType', value='existed', checked='', ng-model='selectSpouseType')
                      span
                      |  关联已有员工
                .col-md-12
                  .radio.c-radio.c-radio-nofont
                    label(style="font-size:15px")
                      input(type='radio', name='selectSpouseType', value='newInner', ng-model='selectSpouseType')
                      span
                      |  创建配偶（集团员工）
                .col-md-12
                  .radio.c-radio.c-radio-nofont
                    label(style="font-size:15px")
                      input(type='radio', name='selectSpouseType', value='newOuter', ng-model='selectSpouseType')
                      span
                      |  创建配偶（非集团员工）
              .col-md-9
                .col-md-12
                  .panel.panel-primary(ng-if='selectSpouseType=="existed"')
                    .panel-heading(ng-class="{'panel-heading-collapsed':panelDemo1}")
                      | 关联已有员工
                    .panel-wrapper
                      .panel-body
                        ui-select(ng-model='uisel.person.selected', theme='bootstrap')
                          ui-select-match(placeholder='选择需要申请宿舍的员工') {{$select.selected.name}}
                          ui-select-choices(repeat='person in uisel.people | propsFilter: {name: $select.search, age: $select.search}')
                            div(ng-bind-html='person.name | highlight: $select.search')
                            small
                              | email: {{person.email}}        age: 
                              span(ng-bind-html="''+person.age | highlight: $select.search")
                  .panel.panel-primary(ng-if='selectSpouseType=="newInner"')
                    .panel-heading(ng-class="{'panel-heading-collapsed':panelDemo1}")
                      | 关联集团内配偶
                    .panel-wrapper
                      .panel-body
                        .col-md-4
                          .form-group
                            label 姓名
                            .controls
                              input.form-control(type='text', name='name', placeholder='输入员工姓名...', required)
                        .col-md-4
                          .form-group
                            label 性别
                            .controls
                              input.form-control(type='text', name='gender', placeholder='选择员工性别...', required)
                        .col-md-4
                          .form-group
                            label 身份证号
                            .controls
                              input.form-control(type='text', name='idNum', placeholder='输入员工身份证号...', required)
                        .col-md-4
                          .form-group
                            label 所属中心
                            .controls
                              input.form-control(type='text', name='department', placeholder='选择所属中心...', required)
                        .col-md-4
                          .form-group
                            label 工作地点
                            .controls
                              input.form-control(type='text', name='workLocationDetail', placeholder='输入员工工作的具体地点...', required)
                        .col-md-4
                          .form-group
                            label 入职时间
                            .controls
                              input.form-control(type='text', name='dutyDate', placeholder='输入员工入职时间...', required)
                        .col-md-12
                          button.btn.btn-primary.pull-right 创建员工
                          button.btn.btn-default.pull-right.mr 清空输入
                  .panel.panel-primary(ng-if='selectSpouseType=="newOuter"')
                    .panel-heading(ng-class="{'panel-heading-collapsed':panelDemo1}")
                      | 关联集团外配偶
                    .panel-wrapper
                      .panel-body
                        .col-md-4
                          .form-group
                            label 姓名
                            .controls
                              input.form-control(type='text', name='name', placeholder='输入员工姓名...', required)
                        .col-md-4
                          .form-group
                            label 性别
                            .controls
                              input.form-control(type='text', name='gender', placeholder='选择员工性别...', required)
                        .col-md-4
                          .form-group
                            label 身份证号
                            .controls
                              input.form-control(type='text', name='idNum', placeholder='输入员工身份证号...', required)
                        .col-md-4
                          .form-group
                            label 工作单位
                            .controls
                              input.form-control(type='text', name='workLocationDetail', placeholder='输入员工工作的具体地点...', required)
                        .col-md-12
                          button.btn.btn-primary.pull-right 关联配偶
                          button.btn.btn-default.pull-right.mr 清空输入
            ul.pager
              li.previous
                a(href='#', ng-click="wizard.go(1)")
                  span &larr; Previous
              li.next
                a(href='#', ng-click="wizard.go(3)")
                  | Next 
                  span &rarr;

          div#step3(ng-show="wizard.active(3)")
            legend 
              span(style="font-weight:bold;") 
                span(style="font-weight:bold;") 填写申请信息
            .row
              .col-md-3
                .col-md-12
                  span 申请宿舍种类
              .col-md-9
                .col-md-4
                  .radio.c-radio.c-radio-nofont
                    label(style="font-size:15px")
                      input(type='radio', name='dormitoryType', value='GROUP_MALE', checked='', ng-model='dormitoryType')
                      span
                      |  集体宿舍 - 男
                .col-md-4
                  .radio.c-radio.c-radio-nofont
                    label(style="font-size:15px")
                      input(type='radio', name='dormitoryType', value='GROUP_FEMALE', ng-model='dormitoryType')
                      span
                      |  集体宿舍 - 女
                .col-md-4
                  .radio.c-radio.c-radio-nofont
                    label(style="font-size:15px")
                      input(type='radio', name='dormitoryType', value='COUPLE', ng-model='dormitoryType')
                      span
                      |  夫妻房
              .col-md-9
                .col-md-12
                  .panel.panel-primary(ng-if='selectEmployeeType=="existed"')
                    .panel-heading(ng-class="{'panel-heading-collapsed':panelDemo1}")
                      | 选择已有员工
                    .panel-wrapper
                      .panel-body
                        ui-select(ng-model='uisel.person.selected', theme='bootstrap')
                          ui-select-match(placeholder='选择需要申请宿舍的员工') {{$select.selected.name}}
                          ui-select-choices(repeat='person in uisel.people | propsFilter: {name: $select.search, age: $select.search}')
                            div(ng-bind-html='person.name | highlight: $select.search')
                            small
                              | email: {{person.email}}        age: 
                              span(ng-bind-html="''+person.age | highlight: $select.search")
                  .panel.panel-primary(ng-if='selectEmployeeType=="new"')
                    .panel-heading(ng-class="{'panel-heading-collapsed':panelDemo1}")
                      | 创建新员工
                    .panel-wrapper
                      .panel-body
                        .col-md-4
                          .form-group
                            label 姓名
                            .controls
                              input.form-control(type='text', name='name', placeholder='输入员工姓名...', required)
                        .col-md-4
                          .form-group
                            label 性别
                            .controls
                              input.form-control(type='text', name='gender', placeholder='选择员工性别...', required)
                        .col-md-4
                          .form-group
                            label 身份证号
                            .controls
                              input.form-control(type='text', name='idNum', placeholder='输入员工身份证号...', required)
                        .col-md-4
                          .form-group
                            label 所属中心
                            .controls
                              input.form-control(type='text', name='department', placeholder='选择所属中心...', required)
                        .col-md-4
                          .form-group
                            label 工作地点
                            .controls
                              input.form-control(type='text', name='workLocationDetail', placeholder='输入员工工作的具体地点...', required)
                        .col-md-4
                          .form-group
                            label 入职时间
                            .controls
                              input.form-control(type='text', name='dutyDate', placeholder='输入员工入职时间...', required)
                        .col-md-12
                          button.btn.btn-primary.pull-right 创建员工
                          button.btn.btn-default.pull-right.mr 清空输入
            ul.pager
              li.previous
                a(href='#', ng-click="wizard.go(2)")
                  span &larr; Previous
              li.next
                a(href='#', ng-click="")
                  | Next 
                  span &rarr;
         