h3 员工信息
  small 查询 / 修改员工信息
.container-fluid(ng-controller="EmployeeController as table")
  .panel.panel-default
    .panel-heading
      form.pull-right.hidden-xs.form-inline
        | 校区：
        // START box placeholder
        .btn-group(dropdown='dropdown', is-open="select.dropdown.campus")
          button.btn.btn-info.btn-sm(dropdown-toggle="", style="min-width:90px;")
            span.pull-left(ng-show="select.data.campus" , ng-bind="select.data.campus")
            span.pull-left(ng-hide="select.data.campus") 所有校区
            b.caret.pull-right(style="margin-top:8px")
          ul.dropdown-menu(role='menu')
            li
              a(href='#', ng-click='dropSelect("campus", "")') 所有校区
            li
              a(href='#', ng-click='dropSelect("campus", "鼓楼")') 鼓楼
            li
              a(href='#', ng-click='dropSelect("campus", "仙林")') 仙林
        // END button group
        | &nbsp;&nbsp;中心：
        // START box placeholder
        .btn-group(dropdown='dropdown', is-open="select.dropdown.department")
          button.btn.btn-info.btn-sm(dropdown-toggle="", style="min-width:90px;")
            span.pull-left(ng-show="select.data.department" , ng-bind="select.data.department")
            span.pull-left(ng-hide="select.data.department") 所有中心
            b.caret.pull-right(style="margin-top:8px")
          ul.dropdown-menu(role='menu')
            li
              a(href='#', ng-click='dropSelect("department", "")') 所有中心
            li(ng-repeat='department in departments')
              a(href='#', ng-click='dropSelect("department", department)', ng-bind="department")
        // END button group
        | &nbsp;&nbsp;性别：
        // START box placeholder
        .btn-group(dropdown='dropdown', is-open="select.dropdown.genderCN")
          button.btn.btn-info.btn-sm(dropdown-toggle="", style="min-width:90px;")
            span.pull-left(ng-show="select.data.genderCN" , ng-bind="select.data.genderCN")
            span.pull-left(ng-hide="select.data.genderCN") 所有性别
            b.caret.pull-right(style="margin-top:8px")
          ul.dropdown-menu(role='menu')
            li
              a(href='#', ng-click='dropSelect("genderCN", "")') 所有性别
            li
              a(href='#', ng-click='dropSelect("genderCN", "男")') 男
            li
              a(href='#', ng-click='dropSelect("genderCN", "女")') 女
            li
              a(href='#', ng-click='dropSelect("genderCN", "其他")') 其他
        // END button group
        
        input.form-control.input-sm.form-horizontal(type='text', ng-model="searchKeywords", placeholder='表格搜索...')
        button.btn.btn-info.btn-sm(ng-click='resetFilter()') 全部复位
      .panel-title 员工信息列表
    

    //- ng-table指明了使用什么样的参数来创建表格
    table.table(ng-table='table.tableParams')
      tbody
        tr(ng-repeat='employeeItem in employees')
          td(width="40", header="'ng-table/headers/checkbox.html'")
            .checkbox.c-checkbox
              label
                input(type='checkbox', ng-model="checkboxes.items[employeeItem.employee.id]")
                span.fa.fa-check
          td.text-center(data-title="'姓名'", sortable="'employee.name'", width="90") {{ employeeItem.employee.name }}
          td.text-center(data-title="'性别'", sortable="'employee.gender'", width="70") {{ employeeItem.employee.genderCN }}
          td.text-center(data-title="'身份证'", sortable="'employee.idNum'", width="200") {{ employeeItem.employee.idNum }}
          td.text-center(data-title="'入职时间'", sortable="'employee.dutyDate'", width="100") {{ employeeItem.employee.dutyDate }}
          td.text-center(data-title="'所属中心'", sortable="'employee.department'", width="100") {{ employeeItem.employee.department }}
          td.text-center(data-title="'工作地址'", sortable="'employee.workAddressDetailCN'") {{ employeeItem.employee.workAddressDetailCN }}
          td.text-center(data-title="'宿舍地址'", sortable="'dormitory.addressDetailCN'") {{ employeeItem.dormitory.addressDetailCN }}
          td.text-center(data-title="'操作'", width="80")
            button.btn.btn-warning.btn-xs(title='修改', data-ng-click='modifyEmployee(employeeItem);')
              i.fa.fa-pencil
    // 自定义表头checkbox的template
    script(type="text/ng-template", id="ng-table/headers/checkbox.html")
      .checkbox.c-checkbox
        label
          input(type="checkbox", ng-model="checkboxes.checked", id="select_all", name="filter-checkbox", value="")
          span.fa.fa-check
  