<div>
   <legend>
      <h3 class="mt0">入住申请</h3>
   </legend>
   <form class="form-horizontal">
      <div class="form-group">
         <label for="input-type" class="col-sm-12">申请类型</label>
         <div class="col-sm-12">
            <input id="input-type" type="text" name="type" ng-model="apply.type" required="" disabled="" class="form-control" />
         </div>
      </div>
      <div class="form-group">
         <label for="input-date" class="col-sm-12">申请时间</label>
         <div class="col-sm-12">
            <input id="input-date" type="text" name="date" ng-model="apply.date" required="" disabled="" class="form-control" />
         </div>
      </div>
      <div class="form-group">
         <label for="input-content" class="col-sm-12">申请理由</label>
         <div class="col-sm-12">
            <input id="input-content" type="text" name="content" ng-model="apply.content" required="" disabled="" class="form-control" />
         </div>
      </div>
   </form>
   <form class="form-horizontal">
      <h4 class="text-center">入住人员 1</h4>
      <div class="form-group">
         <label for="input-name" class="col-sm-2 control-label">姓名</label>
         <div class="col-sm-4">
            <input id="input-name" type="text" name="name" ng-model="apply.employees[0].name" required="" disabled="" class="form-control" />
         </div>
         <label for="input-gender" class="col-sm-2 control-label">性别</label>
         <div class="col-sm-4">
            <input id="input-gender" type="text" name="gender" ng-model="apply.employees[0].genderCN" required="" disabled="" class="form-control" />
         </div>
      </div>
      <div class="form-group">
         <label for="input-idNum" class="col-sm-2 control-label">身份证</label>
         <div class="col-sm-10">
            <input id="input-idNum" type="text" name="idNum" ng-model="apply.employees[0].idNum" required="" disabled="" class="form-control" />
         </div>
      </div>
      <div class="form-group">
         <label for="input-department" class="col-sm-2 control-label">中心</label>
         <div class="col-sm-4">
            <input id="input-department" type="text" name="department" ng-model="apply.employees[0].department" required="" disabled="" class="form-control" />
         </div>
         <label for="input-dutyDate" class="col-sm-2 control-label">入职</label>
         <div class="col-sm-4">
            <input id="input-dutyDate" type="text" name="dutyDate" ng-model="apply.employees[0].dutyDate" required="" disabled="" class="form-control" />
         </div>
      </div>
      <div class="form-group">
         <label for="input-department" class="col-sm-2 control-label">校区</label>
         <div class="col-sm-4">
            <input id="input-workCampus" type="text" name="workCampus" ng-model="apply.employees[0].workCampus" required="" disabled="" class="form-control" />
         </div>
         <label for="input-workLocationDetail" class="col-sm-2 control-label">单位</label>
         <div class="col-sm-4">
            <input id="input-workLocationDetail" type="text" name="workLocationDetail" ng-model="apply.employees[0].workLocationDetail" required="" disabled="" class="form-control" />
         </div>
      </div>
   </form>
   <form ng-if="apply.employees[0].spouseType=='INNER'" class="form-horizontal">
      <h4 class="text-center">入住人员（配偶）（集团员工）</h4>
      <div class="form-group">
         <label for="input-name" class="col-sm-2 control-label">姓名</label>
         <div class="col-sm-4">
            <input id="input-name" type="text" name="name" ng-model="apply.employees[1].name" required="" disabled="" class="form-control" />
         </div>
         <label for="input-gender" class="col-sm-2 control-label">性别</label>
         <div class="col-sm-4">
            <input id="input-gender" type="text" name="gender" ng-model="apply.employees[1].genderCN" required="" disabled="" class="form-control" />
         </div>
      </div>
      <div class="form-group">
         <label for="input-idNum" class="col-sm-2 control-label">身份证</label>
         <div class="col-sm-10">
            <input id="input-idNum" type="text" name="idNum" ng-model="apply.employees[1].idNum" required="" disabled="" class="form-control" />
         </div>
      </div>
      <div class="form-group">
         <label for="input-department" class="col-sm-2 control-label">中心</label>
         <div class="col-sm-4">
            <input id="input-department" type="text" name="department" ng-model="apply.employees[1].department" required="" disabled="" class="form-control" />
         </div>
         <label for="input-dutyDate" class="col-sm-2 control-label">入职</label>
         <div class="col-sm-4">
            <input id="input-dutyDate" type="text" name="dutyDate" ng-model="apply.employees[1].dutyDate" required="" disabled="" class="form-control" />
         </div>
      </div>
      <div class="form-group">
         <label for="input-department" class="col-sm-2 control-label">校区</label>
         <div class="col-sm-4">
            <input id="input-workCampus" type="text" name="workCampus" ng-model="apply.employees[1].workCampus" required="" class="form-control" />
         </div>
         <label for="input-workLocationDetail" class="col-sm-2 control-label">单位</label>
         <div class="col-sm-4">
            <input id="input-workLocationDetail" type="text" name="workLocationDetail" ng-model="apply.employees[1].workLocationDetail" required="" class="form-control" />
         </div>
      </div>
   </form>
   <form ng-if="apply.employees[0].spouseType=='OUTER'" class="form-horizontal">
      <h4 class="text-center">入住人员（配偶）（非集团员工）</h4>
      <div class="form-group">
         <label for="input-spouseName" class="col-sm-2 control-label">姓名</label>
         <div class="col-sm-4">
            <input id="input-spouseName" type="text" name="spouseName" ng-model="apply.employees[0].spouseName" required="" disabled="" class="form-control" />
         </div>
         <label for="input-spouseGenderCN" class="col-sm-2 control-label">性别</label>
         <div class="col-sm-4">
            <input id="input-spouseGenderCN" type="text" name="spouseGenderCN" ng-model="apply.employees[0].spouseGenderCN" required="" disabled="" class="form-control" />
         </div>
      </div>
      <div class="form-group">
         <label for="input-spouseIdNum" class="col-sm-2 control-label">身份证</label>
         <div class="col-sm-10">
            <input id="input-spouseIdNum" type="text" name="spouseIdNum" ng-model="apply.employees[0].spouseIdNum" required="" disabled="" class="form-control" />
         </div>
      </div>
      <div class="form-group">
         <label for="input-spouseWorkLocationDetail" class="col-sm-2 control-label">工作地址</label>
         <div class="col-sm-4">
            <input id="input-spouseWorkLocationDetail" type="text" name="spouseWorkLocationDetail" ng-model="apply.employees[0].spouseWorkLocationDetail" required="" disabled="" class="form-control" />
         </div>
      </div>
   </form>
   <div class="row">
      <div class="container-fluid">
         <div class="pull-right">
            <button type="button" ng-click="cancel()" class="btn btn-default">返回</button>
            <button type="button" ng-click="resolve()" class="btn btn-success">分配</button>
            <button type="button" ng-click="reject()" class="btn btn-danger">拒绝</button>
         </div>
      </div>
   </div>
</div>