<div class="container-fluid">
   <div class="panel panel-default">
      <div class="panel-heading">宿舍申请向导</div>
      <div class="panel-body">
         <form form-wizard="" validate-steps="true" validate-form="" steps="3">
            <div class="form-wizard wizard-horizontal">
               <ol class="row">
                  <li ng-class="{'active':wizard.active(1)}" class="col-md-4">
                     <h4>1、选择入住员工</h4>
                     <small class="text-muted">选择没有入住的员工或增加新的员工</small>
                  </li>
                  <li ng-class="{'active':wizard.active(2)}" class="col-md-4">
                     <h4>2、添加配偶</h4>
                     <small class="text-muted">添加随员工同时迁入的配偶信息</small>
                  </li>
                  <li ng-class="{'active':wizard.active(3)}" class="col-md-4">
                     <h4>3、填写申请信息</h4>
                     <small class="text-muted">填写申请的宿舍类型和申请理由</small>
                  </li>
               </ol>
               <div id="step1" ng-show="wizard.active(1)">
                  <legend>
                     <span style="font-weight:bold;">选择入住员工</span>
                  </legend>
                  <div class="row">
                     <div class="col-md-3">
                        <div class="col-md-12">
                           <h4>宿舍申请人来源</h4>
                        </div>
                        <div class="col-md-12">
                           <div class="radio c-radio c-radio-nofont">
                              <label style="font-size:15px">
                                 <input type="radio" name="selectEmployeeType" value="existed" checked="" ng-model="selectEmployeeType" />
                                 <span></span>选择已有员工</label>
                           </div>
                        </div>
                        <div class="col-md-12">
                           <div class="radio c-radio c-radio-nofont">
                              <label style="font-size:15px">
                                 <input type="radio" name="selectEmployeeType" value="new" ng-model="selectEmployeeType" />
                                 <span></span>创建员工</label>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-9">
                        <div class="col-md-12">
                           <div ng-if="selectEmployeeType==&quot;existed&quot;" class="panel panel-primary">
                              <div ng-class="{'panel-heading-collapsed':panelDemo1}" class="panel-heading">选择已有员工</div>
                              <div class="panel-wrapper">
                                 <div class="panel-body">
                                    <ui-select ng-model="uisel.person.selected" theme="bootstrap">
                                       <ui-select-match placeholder="选择需要申请宿舍的员工">{{$select.selected.name}}</ui-select-match>
                                       <ui-select-choices repeat="person in uisel.people | propsFilter: {name: $select.search, age: $select.search}">
                                          <div ng-bind-html="person.name | highlight: $select.search"></div>
                                          <small>email: {{person.email}} age:
                                             <span ng-bind-html="''+person.age | highlight: $select.search"></span>
                                          </small>
                                       </ui-select-choices>
                                    </ui-select>
                                 </div>
                              </div>
                           </div>
                           <div ng-if="selectEmployeeType==&quot;new&quot;" class="panel panel-primary">
                              <div ng-class="{'panel-heading-collapsed':panelDemo1}" class="panel-heading">创建新员工</div>
                              <div class="panel-wrapper">
                                 <div class="panel-body">
                                    <div class="col-md-4">
                                       <div class="form-group">
                                          <label>姓名</label>
                                          <div class="controls">
                                             <input type="text" name="name" placeholder="输入员工姓名..." required="required" class="form-control" />
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4">
                                       <div class="form-group">
                                          <label>性别</label>
                                          <div class="controls">
                                             <input type="text" name="gender" placeholder="选择员工性别..." required="required" class="form-control" />
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4">
                                       <div class="form-group">
                                          <label>身份证号</label>
                                          <div class="controls">
                                             <input type="text" name="idNum" placeholder="输入员工身份证号..." required="required" class="form-control" />
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4">
                                       <div class="form-group">
                                          <label>所属中心</label>
                                          <div class="controls">
                                             <input type="text" name="department" placeholder="选择所属中心..." required="required" class="form-control" />
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4">
                                       <div class="form-group">
                                          <label>工作地点</label>
                                          <div class="controls">
                                             <input type="text" name="workLocationDetail" placeholder="输入员工工作的具体地点..." required="required" class="form-control" />
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4">
                                       <div class="form-group">
                                          <label>入职时间</label>
                                          <div class="controls">
                                             <input type="text" name="dutyDate" placeholder="输入员工入职时间..." required="required" class="form-control" />
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-12">
                                       <button class="btn btn-primary pull-right">创建员工</button>
                                       <button class="btn btn-default pull-right mr">清空输入</button>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <ul class="pager">
                     <li class="next"><a href="#" ng-click="wizard.go(2)">下一步<span>&rarr;</span></a>
                     </li>
                  </ul>
               </div>
               <div id="step2" ng-show="wizard.active(2)">
                  <legend>
                     <span style="font-weight:bold;">添加配偶</span>
                  </legend>
                  <div class="row">
                     <div class="col-md-3">
                        <div class="col-md-12">
                           <h4>配偶来源</h4>
                        </div>
                        <div class="col-md-12">
                           <div class="radio c-radio c-radio-nofont">
                              <label style="font-size:15px">
                                 <input type="radio" name="selectSpouseType" value="existed" checked="" ng-model="selectSpouseType" />
                                 <span></span>关联已有员工</label>
                           </div>
                        </div>
                        <div class="col-md-12">
                           <div class="radio c-radio c-radio-nofont">
                              <label style="font-size:15px">
                                 <input type="radio" name="selectSpouseType" value="newInner" ng-model="selectSpouseType" />
                                 <span></span>创建配偶（集团员工）</label>
                           </div>
                        </div>
                        <div class="col-md-12">
                           <div class="radio c-radio c-radio-nofont">
                              <label style="font-size:15px">
                                 <input type="radio" name="selectSpouseType" value="newOuter" ng-model="selectSpouseType" />
                                 <span></span>创建配偶（非集团员工）</label>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-9">
                        <div class="col-md-12">
                           <div ng-if="selectSpouseType==&quot;existed&quot;" class="panel panel-primary">
                              <div ng-class="{'panel-heading-collapsed':panelDemo1}" class="panel-heading">关联已有员工</div>
                              <div class="panel-wrapper">
                                 <div class="panel-body">
                                    <ui-select ng-model="uisel.person.selected" theme="bootstrap">
                                       <ui-select-match placeholder="选择需要申请宿舍的员工">{{$select.selected.name}}</ui-select-match>
                                       <ui-select-choices repeat="person in uisel.people | propsFilter: {name: $select.search, age: $select.search}">
                                          <div ng-bind-html="person.name | highlight: $select.search"></div>
                                          <small>email: {{person.email}} age:
                                             <span ng-bind-html="''+person.age | highlight: $select.search"></span>
                                          </small>
                                       </ui-select-choices>
                                    </ui-select>
                                 </div>
                              </div>
                           </div>
                           <div ng-if="selectSpouseType==&quot;newInner&quot;" class="panel panel-primary">
                              <div ng-class="{'panel-heading-collapsed':panelDemo1}" class="panel-heading">关联集团内配偶</div>
                              <div class="panel-wrapper">
                                 <div class="panel-body">
                                    <div class="col-md-4">
                                       <div class="form-group">
                                          <label>姓名</label>
                                          <div class="controls">
                                             <input type="text" name="name" placeholder="输入员工姓名..." required="required" class="form-control" />
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4">
                                       <div class="form-group">
                                          <label>性别</label>
                                          <div class="controls">
                                             <input type="text" name="gender" placeholder="选择员工性别..." required="required" class="form-control" />
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4">
                                       <div class="form-group">
                                          <label>身份证号</label>
                                          <div class="controls">
                                             <input type="text" name="idNum" placeholder="输入员工身份证号..." required="required" class="form-control" />
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4">
                                       <div class="form-group">
                                          <label>所属中心</label>
                                          <div class="controls">
                                             <input type="text" name="department" placeholder="选择所属中心..." required="required" class="form-control" />
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4">
                                       <div class="form-group">
                                          <label>工作地点</label>
                                          <div class="controls">
                                             <input type="text" name="workLocationDetail" placeholder="输入员工工作的具体地点..." required="required" class="form-control" />
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4">
                                       <div class="form-group">
                                          <label>入职时间</label>
                                          <div class="controls">
                                             <input type="text" name="dutyDate" placeholder="输入员工入职时间..." required="required" class="form-control" />
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-12">
                                       <button class="btn btn-primary pull-right">创建员工</button>
                                       <button class="btn btn-default pull-right mr">清空输入</button>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div ng-if="selectSpouseType==&quot;newOuter&quot;" class="panel panel-primary">
                              <div ng-class="{'panel-heading-collapsed':panelDemo1}" class="panel-heading">关联集团外配偶</div>
                              <div class="panel-wrapper">
                                 <div class="panel-body">
                                    <div class="col-md-4">
                                       <div class="form-group">
                                          <label>姓名</label>
                                          <div class="controls">
                                             <input type="text" name="name" placeholder="输入员工姓名..." required="required" class="form-control" />
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4">
                                       <div class="form-group">
                                          <label>性别</label>
                                          <div class="controls">
                                             <input type="text" name="gender" placeholder="选择员工性别..." required="required" class="form-control" />
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4">
                                       <div class="form-group">
                                          <label>身份证号</label>
                                          <div class="controls">
                                             <input type="text" name="idNum" placeholder="输入员工身份证号..." required="required" class="form-control" />
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4">
                                       <div class="form-group">
                                          <label>工作单位</label>
                                          <div class="controls">
                                             <input type="text" name="workLocationDetail" placeholder="输入员工工作的具体地点..." required="required" class="form-control" />
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-12">
                                       <button class="btn btn-primary pull-right">关联配偶</button>
                                       <button class="btn btn-default pull-right mr">清空输入</button>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <ul class="pager">
                     <li class="previous">
                        <a href="#" ng-click="wizard.go(1)">
                           <span>&larr; Previous</span>
                        </a>
                     </li>
                     <li class="next"><a href="#" ng-click="wizard.go(3)">Next <span>&rarr;</span></a>
                     </li>
                  </ul>
               </div>
               <div id="step3" ng-show="wizard.active(3)">
                  <legend>
                     <span style="font-weight:bold;">
                        <span style="font-weight:bold;">填写申请信息</span>
                     </span>
                  </legend>
                  <div class="row">
                     <div class="col-md-3">
                        <div class="col-md-12">
                           <span>申请宿舍种类</span>
                        </div>
                     </div>
                     <div class="col-md-9">
                        <div class="col-md-4">
                           <div class="radio c-radio c-radio-nofont">
                              <label style="font-size:15px">
                                 <input type="radio" name="dormitoryType" value="GROUP_MALE" checked="" ng-model="dormitoryType" />
                                 <span></span>集体宿舍 - 男</label>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="radio c-radio c-radio-nofont">
                              <label style="font-size:15px">
                                 <input type="radio" name="dormitoryType" value="GROUP_FEMALE" ng-model="dormitoryType" />
                                 <span></span>集体宿舍 - 女</label>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="radio c-radio c-radio-nofont">
                              <label style="font-size:15px">
                                 <input type="radio" name="dormitoryType" value="COUPLE" ng-model="dormitoryType" />
                                 <span></span>夫妻房</label>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-9">
                        <div class="col-md-12">
                           <div ng-if="selectEmployeeType==&quot;existed&quot;" class="panel panel-primary">
                              <div ng-class="{'panel-heading-collapsed':panelDemo1}" class="panel-heading">选择已有员工</div>
                              <div class="panel-wrapper">
                                 <div class="panel-body">
                                    <ui-select ng-model="uisel.person.selected" theme="bootstrap">
                                       <ui-select-match placeholder="选择需要申请宿舍的员工">{{$select.selected.name}}</ui-select-match>
                                       <ui-select-choices repeat="person in uisel.people | propsFilter: {name: $select.search, age: $select.search}">
                                          <div ng-bind-html="person.name | highlight: $select.search"></div>
                                          <small>email: {{person.email}} age:
                                             <span ng-bind-html="''+person.age | highlight: $select.search"></span>
                                          </small>
                                       </ui-select-choices>
                                    </ui-select>
                                 </div>
                              </div>
                           </div>
                           <div ng-if="selectEmployeeType==&quot;new&quot;" class="panel panel-primary">
                              <div ng-class="{'panel-heading-collapsed':panelDemo1}" class="panel-heading">创建新员工</div>
                              <div class="panel-wrapper">
                                 <div class="panel-body">
                                    <div class="col-md-4">
                                       <div class="form-group">
                                          <label>姓名</label>
                                          <div class="controls">
                                             <input type="text" name="name" placeholder="输入员工姓名..." required="required" class="form-control" />
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4">
                                       <div class="form-group">
                                          <label>性别</label>
                                          <div class="controls">
                                             <input type="text" name="gender" placeholder="选择员工性别..." required="required" class="form-control" />
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4">
                                       <div class="form-group">
                                          <label>身份证号</label>
                                          <div class="controls">
                                             <input type="text" name="idNum" placeholder="输入员工身份证号..." required="required" class="form-control" />
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4">
                                       <div class="form-group">
                                          <label>所属中心</label>
                                          <div class="controls">
                                             <input type="text" name="department" placeholder="选择所属中心..." required="required" class="form-control" />
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4">
                                       <div class="form-group">
                                          <label>工作地点</label>
                                          <div class="controls">
                                             <input type="text" name="workLocationDetail" placeholder="输入员工工作的具体地点..." required="required" class="form-control" />
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-4">
                                       <div class="form-group">
                                          <label>入职时间</label>
                                          <div class="controls">
                                             <input type="text" name="dutyDate" placeholder="输入员工入职时间..." required="required" class="form-control" />
                                          </div>
                                       </div>
                                    </div>
                                    <div class="col-md-12">
                                       <button class="btn btn-primary pull-right">创建员工</button>
                                       <button class="btn btn-default pull-right mr">清空输入</button>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <ul class="pager">
                     <li class="previous">
                        <a href="#" ng-click="wizard.go(2)">
                           <span>&larr; Previous</span>
                        </a>
                     </li>
                     <li class="next"><a href="#" ng-click="">Next <span>&rarr;</span></a>
                     </li>
                  </ul>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>