<div class="panel panel-default">
   <div class="panel-heading">宿舍申请向导</div>
   <div class="panel-body">
      <form form-wizard="" action="/" method="POST" steps="4">
         <div class="form-wizard wizard-vertical">
            <!-- 左侧的向导栏-->
            <ol style="width:28%">
               <li ng-class="{'active':wizard.active(1)}" ng-click="wizard.go(1)">
                  <h4 class="mb0 mt0">1、选择入住员工</h4>
                  <small class="text-muted">选择未入住员工或新增员工</small>
               </li>
               <li ng-class="{'active':wizard.active(2)}" ng-click="wizard.go(2)">
                  <h4 class="mb0 mt0">2、关联配偶</h4>
                  <small class="text-muted">添加随员工同时迁入的配偶</small>
               </li>
               <li ng-class="{'active':wizard.active(3)}" ng-click="wizard.go(3)">
                  <h4 class="mb0 mt0">3、填写申请信息</h4>
                  <small class="text-muted">填写申请的宿舍类型和说明</small>
               </li>
               <li ng-class="{'active':wizard.active(4)}" ng-click="wizard.go(4)">
                  <h4 class="mb0 mt0">4、完成!</h4>
                  <small class="text-muted">查看申请提交的结果</small>
               </li>
            </ol>
            <!-- ============-->
            <!-- 选择入住员工 -->
            <div ng-show="wizard.active(1)" style="width:69%">
               <div style="padding-left:20px;" class="row"><b class="pull-left mr">请选择迁入员工的来源：</b>
                  <div style="margin-top: 0;" class="radio c-radio c-radio-nofont pull-left mr">
                     <label>
                        <input type="radio" name="selectEmployeeType" value="new" ng-model="selectEmployeeType" />
                        <span></span>创建员工</label>
                  </div>
                  <div style="margin-top: 0;" class="radio c-radio c-radio-nofont pull-left mr">
                     <label>
                        <input type="radio" name="selectEmployeeType" value="existed" checked="" ng-model="selectEmployeeType" />
                        <span></span>选择已有员工</label>
                  </div>
               </div>
               <div ng-if="selectEmployeeType==&quot;new&quot;" style="min-height: 250px;" class="panel panel-default">
                  <div class="panel-body">
                     <table style="width: 100%;">
                        <tbody>
                           <tr style="text-align: right;" height="50">
                              <td width="80"><b class="mr">员工姓名</b>
                              </td>
                              <td>
                                 <div class="controls">
                                    <input type="text" name="name" placeholder="输入员工姓名..." required="required" ng-model="applicant.name" class="form-control" />
                                 </div>
                              </td>
                              <td width="80"><b class="mr">员工性别</b>
                              </td>
                              <td>
                                 <div class="controls">
                                    <select type="text" name="gender" ng-options="gender.code as gender.name for gender in GENDERS" required="required" ng-model="applicant.gender" class="form-control">
                                       <option value="" disabled="" selected="" style="display:none;">选择员工性别...</option>
                                       <option value="MALE">男</option>
                                       <option value="FEMALE">女</option>
                                       <option value="NONE">其他</option>
                                    </select>
                                 </div>
                              </td>
                           </tr>
                           <tr style="text-align: right;" height="50" ng-model="applicant.idNum" class="pt">
                              <td width="80"><b class="mr">身份证号</b>
                              </td>
                              <td>
                                 <div class="controls">
                                    <input type="text" name="idNum" placeholder="输入员工身份证号..." required="required" ng-model="applicant.idNum" class="form-control" />
                                 </div>
                              </td>
                              <td width="80"><b class="mr">所属中心</b>
                              </td>
                              <td>
                                 <div class="controls">
                                    <select type="text" name="department" ng-options="department as department for department in DEPARTMENTS" ng-model="applicant.department" required="required" class="form-control">
                                       <option value="" disabled="" selected="" style="display:none;">选择员工所属中心...</option>
                                    </select>
                                 </div>
                              </td>
                           </tr>
                           <tr style="text-align: right;" height="50" class="pt">
                              <td width="80"><b class="mr">工作地点</b>
                              </td>
                              <td>
                                 <div class="controls">
                                    <input type="text" name="workLocationDetail" placeholder="输入员工工作的具体地点..." required="required" ng-model="applicant.workLocationDetail" class="form-control" />
                                 </div>
                              </td>
                              <td width="80"><b class="mr">入职时间</b>
                              </td>
                              <td>
                                 <div class="controls">
                                    <input type="text" name="dutyDate" placeholder="输入员工入职时间..." required="required" ng-model="applicant.dutyDate" class="form-control" />
                                 </div>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
               <div ng-if="selectEmployeeType==&quot;existed&quot;" style="min-height: 250px;" class="panel panel-default">
                  <div class="panel-body">
                     <table style="width: 100%;">
                        <tbody>
                           <tr style="text-align: right;">
                              <td width="80"><b class="mr">选择员工</b>
                              </td>
                              <td>
                                 <ui-select ng-model="nonHouseholders.selected" theme="bootstrap">
                                    <ui-select-match placeholder="选择迁入的员工...">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="employee in nonHouseholders.employees | propsFilter: {name: $select.search, age: $select.search}">
                                       <div ng-bind-html="employee.name | highlight: $select.search"></div>
                                       <small>身份证:
                                          <span ng-bind-html="employee.idNum | highlight: $select.search"></span>所属中心:
                                          <span ng-bind-html="employee.department | highlight: $select.search"></span>
                                       </small>
                                    </ui-select-choices>
                                 </ui-select>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                     <hr style="margin:15px 0" />
                     <table style="width: 100%;">
                        <tbody>
                           <tr style="text-align: right;" height="50">
                              <td width="80"><b class="mr">员工姓名</b>
                              </td>
                              <td>
                                 <div class="controls">
                                    <input type="text" name="name" placeholder="输入员工姓名..." required="required" ng-model="applicant.name" disabled="" class="form-control" />
                                 </div>
                              </td>
                              <td width="80"><b class="mr">员工性别</b>
                              </td>
                              <td>
                                 <div class="controls">
                                    <select type="text" name="gender" ng-options="gender.code as gender.name for gender in GENDERS" required="required" ng-model="applicant.gender" disabled="" class="form-control">
                                       <option value="" disabled="" selected="" style="display:none;">选择员工性别...</option>
                                       <option value="MALE">男</option>
                                       <option value="FEMALE">女</option>
                                       <option value="NONE">其他</option>
                                    </select>
                                 </div>
                              </td>
                           </tr>
                           <tr style="text-align: right;" height="50" ng-model="applicant.idNum" class="pt">
                              <td width="80"><b class="mr">身份证号</b>
                              </td>
                              <td>
                                 <div class="controls">
                                    <input type="text" name="idNum" placeholder="输入员工身份证号..." required="required" ng-model="applicant.idNum" disabled="" class="form-control" />
                                 </div>
                              </td>
                              <td width="80"><b class="mr">所属中心</b>
                              </td>
                              <td>
                                 <div class="controls">
                                    <select type="text" name="department" ng-options="department as department for department in DEPARTMENTS" ng-model="applicant.department" required="required" disabled="" class="form-control">
                                       <option value="" disabled="" selected="" style="display:none;">选择员工所属中心...</option>
                                    </select>
                                 </div>
                              </td>
                           </tr>
                           <tr style="text-align: right;" height="50" class="pt">
                              <td width="80"><b class="mr">工作地点</b>
                              </td>
                              <td>
                                 <div class="controls">
                                    <input type="text" name="workLocationDetail" placeholder="输入员工工作的具体地点..." required="required" ng-model="applicant.workLocationDetail" disabled="" class="form-control" />
                                 </div>
                              </td>
                              <td width="80"><b class="mr">入职时间</b>
                              </td>
                              <td>
                                 <div class="controls">
                                    <input type="text" name="dutyDate" placeholder="输入员工入职时间..." required="required" ng-model="applicant.dutyDate" disabled="" class="form-control" />
                                 </div>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
               <ul class="pager">
                  <li ng-if="selectEmployeeType==&quot;new&quot;" class="next"><a href="javascript:;" ng-click="wizard.go(2)">创建员工并继续<span>&rarr;</span></a>
                  </li>
                  <li ng-if="selectEmployeeType==&quot;existed&quot;" class="next"><a href="javascript:;" ng-click="wizard.go(2)">选择员工并继续<span>&rarr;</span></a>
                  </li>
               </ul>
            </div>
            <div ng-show="wizard.active(2)" style="width:69%">
               <div style="padding-left:20px;" class="row"><b class="pull-left mr">请选择关联配偶的来源：</b>
                  <div style="margin-top: 0;" class="radio c-radio c-radio-nofont pull-left mr">
                     <label>
                        <input type="radio" name="selectSpouseType" value="newInner" ng-model="selectSpouseType" />
                        <span></span>创建配偶（集团员工）</label>
                  </div>
                  <div style="margin-top: 0;" class="radio c-radio c-radio-nofont pull-left mr">
                     <label>
                        <input type="radio" name="selectSpouseType" value="newOuter" ng-model="selectSpouseType" />
                        <span></span>创建配偶（非集团员工）</label>
                  </div>
                  <div style="margin-top: 0;" class="radio c-radio c-radio-nofont pull-left mr">
                     <label>
                        <input type="radio" name="selectSpouseType" value="existed" checked="" ng-model="selectSpouseType" />
                        <span></span>关联已有员工</label>
                  </div>
               </div>
               <div ng-if="selectSpouseType==&quot;newInner&quot;" style="min-height: 250px;" class="panel panel-default">
                  <div class="panel-body">
                     <table style="width: 100%;">
                        <tbody>
                           <tr style="text-align: right;" height="50">
                              <td width="80"><b class="mr">员工姓名</b>
                              </td>
                              <td>
                                 <div class="controls">
                                    <input type="text" name="name" placeholder="输入配偶姓名..." required="required" ng-model="applicant.name" class="form-control" />
                                 </div>
                              </td>
                              <td width="80"><b class="mr">员工性别</b>
                              </td>
                              <td>
                                 <div class="controls">
                                    <select type="text" name="gender" ng-options="gender.code as gender.name for gender in GENDERS" required="required" ng-model="applicant.gender" class="form-control">
                                       <option value="" disabled="" selected="" style="display:none;">选择配偶性别...</option>
                                       <option value="MALE">男</option>
                                       <option value="FEMALE">女</option>
                                       <option value="NONE">其他</option>
                                    </select>
                                 </div>
                              </td>
                           </tr>
                           <tr style="text-align: right;" height="50" ng-model="applicant.idNum" class="pt">
                              <td width="80"><b class="mr">身份证号</b>
                              </td>
                              <td>
                                 <div class="controls">
                                    <input type="text" name="idNum" placeholder="输入配偶身份证号..." required="required" ng-model="applicant.idNum" class="form-control" />
                                 </div>
                              </td>
                              <td width="80"><b class="mr">所属中心</b>
                              </td>
                              <td>
                                 <div class="controls">
                                    <select type="text" name="department" ng-options="department as department for department in DEPARTMENTS" ng-model="applicant.department" required="required" class="form-control">
                                       <option value="" disabled="" selected="" style="display:none;">选择配偶所属中心...</option>
                                    </select>
                                 </div>
                              </td>
                           </tr>
                           <tr style="text-align: right;" height="50" class="pt">
                              <td width="80"><b class="mr">工作地点</b>
                              </td>
                              <td>
                                 <div class="controls">
                                    <input type="text" name="workLocationDetail" placeholder="输入配偶工作的具体地点..." required="required" ng-model="applicant.workLocationDetail" class="form-control" />
                                 </div>
                              </td>
                              <td width="80"><b class="mr">入职时间</b>
                              </td>
                              <td>
                                 <div class="controls">
                                    <input type="text" name="dutyDate" placeholder="输入配偶入职时间..." required="required" ng-model="applicant.dutyDate" class="form-control" />
                                 </div>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
               <div ng-if="selectSpouseType==&quot;newOuter&quot;" style="min-height: 250px;" class="panel panel-default">
                  <div class="panel-body">
                     <table style="width: 100%;">
                        <tbody>
                           <tr style="text-align: right;" height="50">
                              <td width="80"><b class="mr">员工姓名</b>
                              </td>
                              <td>
                                 <div class="controls">
                                    <input type="text" name="name" placeholder="输入配偶姓名..." required="required" ng-model="applicant.name" class="form-control" />
                                 </div>
                              </td>
                              <td width="80"><b class="mr">员工性别</b>
                              </td>
                              <td>
                                 <div class="controls">
                                    <select type="text" name="gender" ng-options="gender.code as gender.name for gender in GENDERS" required="required" ng-model="applicant.gender" class="form-control">
                                       <option value="" disabled="" selected="" style="display:none;">选择员工性别...</option>
                                       <option value="MALE">男</option>
                                       <option value="FEMALE">女</option>
                                       <option value="NONE">其他</option>
                                    </select>
                                 </div>
                              </td>
                           </tr>
                           <tr style="text-align: right;" height="50" ng-model="applicant.idNum" class="pt">
                              <td width="80"><b class="mr">身份证号</b>
                              </td>
                              <td>
                                 <div class="controls">
                                    <input type="text" name="idNum" placeholder="输入配偶身份证号..." required="required" ng-model="applicant.idNum" class="form-control" />
                                 </div>
                              </td>
                              <td width="80"><b class="mr">工作单位</b>
                              </td>
                              <td>
                                 <div class="controls">
                                    <input type="text" name="workLocationDetail" placeholder="输入配偶的工作单位..." required="required" ng-model="applicant.workLocationDetail" class="form-control" />
                                 </div>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
               <div ng-if="selectSpouseType==&quot;existed&quot;" style="min-height: 250px;" class="panel panel-default">
                  <div class="panel-body">
                     <table style="width: 100%;">
                        <tbody>
                           <tr style="text-align: right;">
                              <td width="80"><b class="mr">选择员工</b>
                              </td>
                              <td>
                                 <ui-select ng-model="nonHouseholders.selected" theme="bootstrap">
                                    <ui-select-match placeholder="选择关联为配偶的员工...">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="employee in nonHouseholders.employees | propsFilter: {name: $select.search, age: $select.search}">
                                       <div ng-bind-html="employee.name | highlight: $select.search"></div>
                                       <small>身份证:
                                          <span ng-bind-html="employee.idNum | highlight: $select.search"></span>所属中心:
                                          <span ng-bind-html="employee.department | highlight: $select.search"></span>
                                       </small>
                                    </ui-select-choices>
                                 </ui-select>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                     <hr style="margin:15px 0" />
                     <table style="width: 100%;">
                        <tbody>
                           <tr style="text-align: right;" height="50">
                              <td width="80"><b class="mr">员工姓名</b>
                              </td>
                              <td>
                                 <div class="controls">
                                    <input type="text" name="name" placeholder="输入员工姓名..." required="required" ng-model="applicant.name" disabled="" class="form-control" />
                                 </div>
                              </td>
                              <td width="80"><b class="mr">员工性别</b>
                              </td>
                              <td>
                                 <div class="controls">
                                    <select type="text" name="gender" ng-options="gender.code as gender.name for gender in GENDERS" required="required" ng-model="applicant.gender" disabled="" class="form-control">
                                       <option value="" disabled="" selected="" style="display:none;">选择员工性别...</option>
                                       <option value="MALE">男</option>
                                       <option value="FEMALE">女</option>
                                       <option value="NONE">其他</option>
                                    </select>
                                 </div>
                              </td>
                           </tr>
                           <tr style="text-align: right;" height="50" ng-model="applicant.idNum" class="pt">
                              <td width="80"><b class="mr">身份证号</b>
                              </td>
                              <td>
                                 <div class="controls">
                                    <input type="text" name="idNum" placeholder="输入员工身份证号..." required="required" ng-model="applicant.idNum" disabled="" class="form-control" />
                                 </div>
                              </td>
                              <td width="80"><b class="mr">所属中心</b>
                              </td>
                              <td>
                                 <div class="controls">
                                    <select type="text" name="department" ng-options="department as department for department in DEPARTMENTS" ng-model="applicant.department" required="required" disabled="" class="form-control">
                                       <option value="" disabled="" selected="" style="display:none;">选择员工所属中心...</option>
                                    </select>
                                 </div>
                              </td>
                           </tr>
                           <tr style="text-align: right;" height="50" class="pt">
                              <td width="80"><b class="mr">工作地点</b>
                              </td>
                              <td>
                                 <div class="controls">
                                    <input type="text" name="workLocationDetail" placeholder="输入员工工作的具体地点..." required="required" ng-model="applicant.workLocationDetail" disabled="" class="form-control" />
                                 </div>
                              </td>
                              <td width="80"><b class="mr">入职时间</b>
                              </td>
                              <td>
                                 <div class="controls">
                                    <input type="text" name="dutyDate" placeholder="输入员工入职时间..." required="required" ng-model="applicant.dutyDate" disabled="" class="form-control" />
                                 </div>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
               <ul class="pager">
                  <li class="previous">
                     <a href="javascript:;" ng-click="wizard.go(1)">
                        <span>&larr; 返回员工选择</span>
                     </a>
                  </li>
                  <li ng-if="selectSpouseType!=&quot;existed&quot;" class="next"><a href="javascript:;" ng-click="wizard.go(3)">创建配偶并继续<span>&rarr;</span></a>
                  </li>
                  <li ng-if="selectSpouseType==&quot;existed&quot;" class="next"><a href="javascript:;" ng-click="wizard.go(3)">关联配偶并继续<span>&rarr;</span></a>
                  </li>
                  <li class="next"><a href="javascript:;" ng-click="wizard.go(3)">跳过该步骤</a>
                  </li>
               </ul>
            </div>
            <div ng-show="wizard.active(3)" style="width:69%">
               <div style="padding-left:20px;" class="row"><b class="pull-left mr">点击申请人查看详细信息（只包含员工），选择申请的宿舍类型以及申请说明</b>
               </div>
               <div style="min-height: 250px;" class="panel panel-default">
                  <div class="panel-body">
                     <table style="width: 100%;">
                        <tbody>
                           <tr style="text-align: right;" height="50">
                              <td width="80"><b class="mr">申请人</b>
                              </td>
                              <td style="text-align: left;">
                                 <button style="margin-right:5px; min-width:55px;" class="btn btn-primary btn-xs">员工1</button>
                                 <button style="margin-right:5px; min-width:55px;" class="btn btn-primary btn-xs">员工2</button>
                              </td>
                              <td width="80"><b class="mr">宿舍类型</b>
                              </td>
                              <td>
                                 <div class="controls">
                                    <select type="text" name="gender" ng-options="gender.code as gender.name for gender in GENDERS" required="required" ng-model="applicant.gender" class="form-control">
                                       <option value="" disabled="" selected="" style="display:none;">选择申请宿舍类型...</option>
                                       <option value="GROUP_MALE">集体宿舍 - 男</option>
                                       <option value="GROUP_FEMALE">集体宿舍 - 女</option>
                                       <option value="COUPLE">夫妻房</option>
                                    </select>
                                 </div>
                              </td>
                           </tr>
                           <tr style="text-align: right;" height="50" ng-model="applicant.idNum" class="pt">
                              <td width="80"><b class="mr">申请说明</b>
                              </td>
                              <td colspan="3">
                                 <div class="controls">
                                    <textarea style="width:100%;height: 160px; resize: none;" placeholder="请填写申请说明..." class="form-control"></textarea>
                                 </div>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
               <ul class="pager">
                  <li class="previous">
                     <a href="javascript:;" ng-click="wizard.go(2)">
                        <span>&larr; 返回配偶选择</span>
                     </a>
                  </li>
                  <li class="next"><a href="javascript:;" ng-click="wizard.go(4)">提交申请 </a>
                  </li>
               </ul>
            </div>
            <div ng-show="wizard.active(4)" style="width:69%">
               <div style="min-height: 250px;" class="jumbotron m0">
                  <h3 class="mt0">成功！</h3>
                  <p>您的申请已经发送给相关领导进行审核，请等候回复。</p>
                  <p class="m0">
                     <button type="button" class="btn btn-info">继续创建新的申请</button>
                  </p>
               </div>
            </div>
         </div>
      </form>
   </div>
</div>