<div ng-controller="EmployeeController as table" class="container-fluid">
   <div class="panel panel-default">
      <div class="panel-heading">
         <form class="pull-right hidden-xs form-inline">校区:
            <div dropdown="dropdown" is-open="select.dropdown.campus" class="btn-group">
               <button dropdown-toggle="" style="min-width:90px;" class="btn btn-info btn-sm">
                  <span ng-show="select.data.campus" ng-bind="select.data.campus" class="pull-left"></span>
                  <span ng-hide="select.data.campus" class="pull-left">所有校区</span><b style="margin-top:8px" class="caret pull-right"></b>
               </button>
               <ul role="menu" class="dropdown-menu">
                  <li><a href="javascript:;" ng-click="dropSelect(&quot;campus&quot;, &quot;&quot;)">所有校区</a>
                  </li>
                  <li ng-repeat="(key, value) in addressTree">
                     <a href="javascript:;" ng-click="dropSelect(&quot;campus&quot;, key)" ng-bind="key"></a>
                  </li>
               </ul>
            </div>
            <span class="mr"></span>中心:
            <div dropdown="dropdown" is-open="select.dropdown.department" class="btn-group">
               <button dropdown-toggle="" style="min-width:90px;" class="btn btn-info btn-sm">
                  <span ng-show="select.data.department" ng-bind="select.data.department" class="pull-left"></span>
                  <span ng-hide="select.data.department" class="pull-left">所有中心</span><b style="margin-top:8px" class="caret pull-right"></b>
               </button>
               <ul role="menu" class="dropdown-menu">
                  <li><a href="javascript:;" ng-click="dropSelect(&quot;department&quot;, &quot;&quot;)">所有中心</a>
                  </li>
                  <li ng-repeat="department in departments">
                     <a href="javascript:;" ng-click="dropSelect(&quot;department&quot;, department)" ng-bind="department"></a>
                  </li>
               </ul>
            </div>
            <span class="mr"></span>性别:
            <div dropdown="dropdown" is-open="select.dropdown.genderCN" class="btn-group">
               <button dropdown-toggle="" style="min-width:90px;" class="btn btn-info btn-sm">
                  <span ng-show="select.data.genderCN" ng-bind="select.data.genderCN" class="pull-left"></span>
                  <span ng-hide="select.data.genderCN" class="pull-left">所有性别</span><b style="margin-top:8px" class="caret pull-right"></b>
               </button>
               <ul role="menu" class="dropdown-menu">
                  <li><a href="javascript:;" ng-click="dropSelect(&quot;genderCN&quot;, &quot;&quot;)">所有性别</a>
                  </li>
                  <li><a href="javascript:;" ng-click="dropSelect(&quot;genderCN&quot;, &quot;男&quot;)">男</a>
                  </li>
                  <li><a href="javascript:;" ng-click="dropSelect(&quot;genderCN&quot;, &quot;女&quot;)">女</a>
                  </li>
                  <li><a href="javascript:;" ng-click="dropSelect(&quot;genderCN&quot;, &quot;其他&quot;)">其他</a>
                  </li>
               </ul>
            </div>
            <span class="mr"></span>
            <div class="btn-group">
               <input type="search" ng-model="searchKeywords" placeholder="表格搜索..." class="form-control input-sm form-horizontal" />
               <a ng-click="searchKeywords=&quot;&quot;" style="position: absolute; right: 8px; top: 0; bottom: 0; height: 22px; margin: auto; font-size: 14px; cursor: pointer; color: #ccc;" class="clear">
                  <span class="fa fa-close"></span>
               </a>
            </div>
         </form>
         <div class="panel-title">员工信息列表
            <button type="button" ng-click="refreshTable()" class="btn btn-xs btn-default">
               <span class="fa fa-refresh"></span>
            </button>
         </div>
      </div>
      <table ng-table="table.tableParams" class="table">
         <tbody>
            <tr ng-repeat="item in $data">
               <td width="40" header="'ng-table/headers/checkbox.html'">
                  <div class="checkbox c-checkbox">
                     <label>
                        <input type="checkbox" ng-model="checkboxes.items[item.employee.id]" />
                        <span class="fa fa-check"></span>
                     </label>
                  </div>
               </td>
               <td data-title="'姓名'" sortable="'employee.name'" width="90" class="text-center">{{ item.employee.name }}</td>
               <td data-title="'性别'" sortable="'employee.gender'" width="70" class="text-center">{{ item.employee.genderCN }}</td>
               <td data-title="'身份证'" sortable="'employee.idNum'" width="200" class="text-center">{{ item.employee.idNum }}</td>
               <td data-title="'入职时间'" sortable="'employee.dutyDate'" width="100" class="text-center">{{ item.employee.dutyDate }}</td>
               <td data-title="'所属中心'" sortable="'employee.department'" width="100" class="text-center">{{ item.employee.department }}</td>
               <td data-title="'工作校区'" sortable="'employee.workCampus'" class="text-center">{{ item.employee.workCampus }}</td>
               <td data-title="'工作地址'" sortable="'employee.workLocationDetail'" class="text-center">{{ item.employee.workLocationDetail }}</td>
               <td data-title="'宿舍地址'" sortable="'dormitory.addressDetailCN'" class="text-center">{{ item.dormitory.addressDetailCN }}</td>
               <td data-title="'操作'" width="80" class="text-center">
                  <button title="修改" data-ng-click="editEmployee(item);" class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i>
                  </button>
               </td>
            </tr>
         </tbody>
      </table>
      <!-- 自定义表头checkbox的template-->
      <script type="text/ng-template" id="ng-table/headers/checkbox.html">
         <div class="checkbox c-checkbox"><label><input type="checkbox" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value=""/><span class="fa fa-check"></span></label></div>
      </script>
   </div>
</div>